*{
    padding: 0%;
    margin: 0%;
}
.title{
    padding-top: 50px;
    height: 100px;
    background-color: sandybrown;
    text-align: center;
    justify-content: center;
    color: white;
}
.images{
    display: flex;
    justify-content: center;
    padding-top: 10%;
    font-size: 5rem;
}
.container{
    padding-left: 30%;
    padding-right: 30%;
}
.content{
    text-align: center;
    padding-top: 8%;
}

button{
    border-radius: 1000px;
    border: none;
    padding: 40px;
    font-size: larger;
    font-weight: bold;
    color: rgb(0, 85, 14);
    background-color: bisque;
}
button:hover{
    cursor: pointer;
    background-color: beige;
    color: aquamarine;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
#message{
    text-align: center;
    padding-top: 2%;
    color: rgb(0, 0, 0);
    word-spacing: 2px;
    letter-spacing: 1px;
}
#temperature{
    padding-top: 5%;
    font-size: xx-large;
    color: rgb(0, 0, 0);
}